Library Loading of Dataset (Panda)

In [65]:
import pandas as P

Data Open in Python

In [67]:
D = P.read_csv("Car Data.csv")

Watch Columns in Dataset

In [68]:
print(D.columns)

Index(['city_mpg', 'class', 'combination_mpg', 'cylinders', 'displacement',
       'drive', 'fuel_type', 'highway_mpg', 'make', 'model', 'transmission',
       'year'],
      dtype='object')

Watching Missing Values

In [69]:
Missing_Values = D.isnull().sum()
print(Missing_Values)

city_mpg           0
class              0
combination_mpg    0
cylinders          2
displacement       2
drive              0
fuel_type          0
highway_mpg        0
make               0
model              0
transmission       0
year               0
dtype: int64

Watch Column Datatypes

In [70]:
print(D.dtypes)

city_mpg             int64
class               object
combination_mpg      int64
cylinders          float64
displacement       float64
drive               object
fuel_type           object
highway_mpg          int64
make                object
model               object
transmission        object
year                 int64
dtype: object

Make Class Column into numeric value

In [72]:
D["class"] = P.to_numeric(D["class"], errors="coerce")

Make drive column into numeric value

In [75]:
D["drive"] = P.to_numeric(D["drive"], errors="coerce")

Make fuel_type column into numeric value

In [78]:
D["fuel_type"] = P.to_numeric(D["fuel_type"], errors="coerce")

make "make" column into numeric value

In [79]:
D["make"] = P.to_numeric(D["make"], errors="coerce")

Make model column into numeric value

In [80]:
D["model"] = P.to_numeric(D["model"], errors="coerce")

Make transmission model into numeric

In [81]:
D["transmission"] = P.to_numeric(D["transmission"], errors="coerce")

Watch Again Datatypes

In [82]:
print(D.dtypes)

city_mpg             int64
class              float64
combination_mpg      int64
cylinders          float64
displacement       float64
drive              float64
fuel_type          float64
highway_mpg          int64
make               float64
model              float64
transmission       float64
year                 int64
dtype: object

Check Negetive Value

In [83]:
Check_Negetive = (D < 0).any ()
print(Check_Negetive)

city_mpg           False
class              False
combination_mpg    False
cylinders          False
displacement       False
drive              False
fuel_type          False
highway_mpg        False
make               False
model              False
transmission       False
year               False
dtype: bool

Check Dataset Outlier

In [84]:
Q1 = D.quantile(0.25)
Q3 = D.quantile(0.75)
IQR = Q3 - Q3

Removing Outlier

In [90]:
Outlier = (D < (Q1 - 1.5 * IQR)) | (D > (Q3 + 1.5 * IQR))
print(Outlier)
print(Outlier.sum())

     city_mpg  class  combination_mpg  cylinders  displacement  drive  \
0       False  False            False      False         False  False
1       False  False            False      False         False  False
2       False  False            False      False         False  False
3       False  False            False      False         False  False
4       False  False            False      False         False  False
..        ...    ...              ...        ...           ...    ...
545     False  False            False      False         False  False
546     False  False            False      False         False  False
547     False  False            False      False         False  False
548     False  False            False      False         False  False
549     False  False            False      False         False  False

     fuel_type  highway_mpg   make  model  transmission   year
0        False        False  False  False         False  False
1        False        False  False  False         False  False
2        False        False  False  False         False  False
3        False        False  False  False         False  False
4        False        False  False  False         False  False
..         ...          ...    ...    ...           ...    ...
545      False        False  False  False         False  False
546      False        False  False  False         False  False
547      False        False  False  False         False  False
548      False        False  False  False         False  False
549      False        False  False  False         False  False

[550 rows x 12 columns]
city_mpg           0
class              0
combination_mpg    0
cylinders          0
displacement       0
drive              0
fuel_type          0
highway_mpg        0
make               0
model              0
transmission       0
year               0
dtype: int64

In [91]:
L = Q1 - 1.5 * IQR
U = Q3 + 1.5 * IQR
D = D.clip(lower = L, upper = U, axis=1)

Check Outlier Again

In [92]:
print(L)
print("\n")
print(U)
print("\n")
print(D)

city_mpg             17.0
class                 NaN
combination_mpg      20.0
cylinders             4.0
displacement          2.0
drive                 NaN
fuel_type             NaN
highway_mpg          24.0
make                  NaN
model                 6.0
transmission          NaN
year               2016.0
dtype: float64


city_mpg             24.0
class                 NaN
combination_mpg      27.0
cylinders             6.0
displacement          3.5
drive                 NaN
fuel_type             NaN
highway_mpg          32.0
make                  NaN
model                 6.0
transmission          NaN
year               2022.0
Name: 0.75, dtype: float64


     city_mpg  class  combination_mpg  cylinders  displacement  drive  \
0          24    NaN               27        4.0           2.5    NaN
1          24    NaN               27        4.0           2.5    NaN
2          24    NaN               27        4.0           2.5    NaN
3          24    NaN               27        4.0           2.0    NaN
4          24    NaN               27        4.0           2.0    NaN
..        ...    ...              ...        ...           ...    ...
545        23    NaN               27        4.0           2.0    NaN
546        21    NaN               24        6.0           3.0    NaN
547        21    NaN               24        6.0           3.0    NaN
548        17    NaN               20        6.0           3.5    NaN
549        17    NaN               20        6.0           3.5    NaN

     fuel_type  highway_mpg  make  model  transmission  year
0          NaN           32   NaN    6.0           NaN  2016
1          NaN           32   NaN    6.0           NaN  2016
2          NaN           31   NaN    NaN           NaN  2016
3          NaN           32   NaN    NaN           NaN  2016
4          NaN           32   NaN    NaN           NaN  2016
..         ...          ...   ...    ...           ...   ...
545        NaN           32   NaN    NaN           NaN  2022
546        NaN           29   NaN    NaN           NaN  2022
547        NaN           29   NaN    NaN           NaN  2022
548        NaN           24   NaN    NaN           NaN  2022
549        NaN           24   NaN    NaN           NaN  2022

[550 rows x 12 columns]

Checking Categorical Column (String)

In [93]:
C = D.select_dtypes(include = "object").columns

In [94]:
print(C)

Index([], dtype='object')

Applying Label Encoder .I.E : Encoding Data

In [95]:
from sklearn.preprocessing import LabelEncoder

In [96]:
L = LabelEncoder ()

In [97]:
D[C] = D[C].apply(L.fit_transform)

Watcing Label Encoding Data

In [98]:
print(D[C])

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[550 rows x 0 columns]

Scaling Data for some models (Making Large and small numbers equal)

In [99]:
from sklearn.preprocessing import StandardScaler
S = StandardScaler()

In [100]:
D.isnull().sum()
D = D.fillna(0)

In [101]:
N = D.select_dtypes(include = "number").columns

In [102]:
D_S = D.copy()
D_S[N] = S.fit_transform(D_S[N])

Watching Scaled Values

In [105]:
print(D_S)

     city_mpg  class  combination_mpg  cylinders  displacement  drive  \
0    1.235683    0.0         1.248450  -0.886405     -0.250833    0.0
1    1.235683    0.0         1.248450  -0.886405     -0.250833    0.0
2    1.235683    0.0         1.248450  -0.886405     -0.250833    0.0
3    1.235683    0.0         1.248450  -0.886405     -1.008846    0.0
4    1.235683    0.0         1.248450  -0.886405     -1.008846    0.0
..        ...    ...              ...        ...           ...    ...
545  0.883545    0.0         1.248450  -0.886405     -1.008846    0.0
546  0.179270    0.0         0.212262   1.040563      0.507180    0.0
547  0.179270    0.0         0.212262   1.040563      0.507180    0.0
548 -1.229280    0.0        -1.169323   1.040563      1.265193    0.0
549 -1.229280    0.0        -1.169323   1.040563      1.265193    0.0

     fuel_type  highway_mpg  make     model  transmission      year
0          0.0     1.257649   0.0  8.231039           0.0 -1.243734
1          0.0     1.257649   0.0  8.231039           0.0 -1.243734
2          0.0     0.952260   0.0 -0.121491           0.0 -1.243734
3          0.0     1.257649   0.0 -0.121491           0.0 -1.243734
4          0.0     1.257649   0.0 -0.121491           0.0 -1.243734
..         ...          ...   ...       ...           ...       ...
545        0.0     1.257649   0.0 -0.121491           0.0  1.243734
546        0.0     0.341481   0.0 -0.121491           0.0  1.243734
547        0.0     0.341481   0.0 -0.121491           0.0  1.243734
548        0.0    -1.185466   0.0 -0.121491           0.0  1.243734
549        0.0    -1.185466   0.0 -0.121491           0.0  1.243734

[550 rows x 12 columns]

Seperating Input and Output Features

In [106]:
X = D.drop("combination_mpg", axis = 1)
Y = D["combination_mpg"]

Spliting , Training and Testing Input and Output Features

In [107]:
from sklearn.model_selection import train_test_split

In [108]:
X_Train , X_Test , Y_Train , Y_Test = train_test_split(X, Y, test_size = 0.2, random_state = 42)

Printing all variables X_Train , X_Test , Y_Train , Y_Test

In [109]:
print(X_Train)

     city_mpg  class  cylinders  displacement  drive  fuel_type  highway_mpg  \
482        24    0.0        4.0           2.0    0.0        0.0           32
158        18    0.0        6.0           3.3    0.0        0.0           25
15         17    0.0        6.0           3.5    0.0        0.0           25
334        21    0.0        4.0           2.0    0.0        0.0           27
39         21    0.0        4.0           2.0    0.0        0.0           28
..        ...    ...        ...           ...    ...        ...          ...
71         19    0.0        6.0           3.0    0.0        0.0           28
106        18    0.0        6.0           3.3    0.0        0.0           25
270        21    0.0        4.0           2.4    0.0        0.0           29
435        23    0.0        4.0           2.0    0.0        0.0           32
102        24    0.0        4.0           2.5    0.0        0.0           32

     make  model  transmission  year
482   0.0    0.0           0.0  2022
158   0.0    0.0           0.0  2017
15    0.0    0.0           0.0  2016
334   0.0    0.0           0.0  2020
39    0.0    0.0           0.0  2016
..    ...    ...           ...   ...
71    0.0    0.0           0.0  2016
106   0.0    0.0           0.0  2016
270   0.0    0.0           0.0  2019
435   0.0    0.0           0.0  2022
102   0.0    6.0           0.0  2016

[440 rows x 11 columns]

In [110]:
print(X_Test)

     city_mpg  class  cylinders  displacement  drive  fuel_type  highway_mpg  \
195        17    0.0        6.0           3.0    0.0        0.0           24
79         20    0.0        4.0           2.4    0.0        0.0           27
480        18    0.0        6.0           3.5    0.0        0.0           24
109        19    0.0        4.0           2.0    0.0        0.0           25
522        17    0.0        6.0           3.0    0.0        0.0           24
..        ...    ...        ...           ...    ...        ...          ...
543        22    0.0        4.0           2.0    0.0        0.0           32
140        17    0.0        6.0           3.5    0.0        0.0           24
371        17    0.0        6.0           3.3    0.0        0.0           26
18         20    0.0        4.0           2.4    0.0        0.0           26
323        24    0.0        4.0           2.0    0.0        0.0           32

     make  model  transmission  year
195   0.0    0.0           0.0  2017
79    0.0    0.0           0.0  2016
480   0.0    0.0           0.0  2022
109   0.0    0.0           0.0  2016
522   0.0    0.0           0.0  2022
..    ...    ...           ...   ...
543   0.0    0.0           0.0  2022
140   0.0    0.0           0.0  2016
371   0.0    0.0           0.0  2021
18    0.0    0.0           0.0  2016
323   0.0    0.0           0.0  2020

[110 rows x 11 columns]

In [111]:
print(Y_Train)

482    27
158    21
15     20
334    23
39     24
       ..
71     22
106    20
270    24
435    27
102    27
Name: combination_mpg, Length: 440, dtype: int64

In [112]:
print(Y_Test)

195    20
79     23
480    20
109    21
522    20
       ..
543    26
140    20
371    20
18     22
323    27
Name: combination_mpg, Length: 110, dtype: int64

Checking Null or Empty Value

In [113]:
CFN = D.isnull().sum()
print(CFN)

city_mpg           0
class              0
combination_mpg    0
cylinders          0
displacement       0
drive              0
fuel_type          0
highway_mpg        0
make               0
model              0
transmission       0
year               0
dtype: int64

Checking Text Finaly

In [114]:
CFT = D.select_dtypes(include = "object").columns
print(CFT)

Index([], dtype='object')

Saving Updated CSV File

In [115]:
SF = D.to_csv("Car Data Updated (Not Droping All Columns).csv")