In [ ]:
import pandas as P

In [ ]:
D = P.read_csv("Car Data.csv")

In [ ]:
print(D.columns)

Index(['city_mpg', 'class', 'combination_mpg', 'cylinders', 'displacement',
       'drive', 'fuel_type', 'highway_mpg', 'make', 'model', 'transmission',
       'year'],
      dtype='object')

In [ ]:
Missing_Values = D.isnull().sum()
print(Missing_Values)

city_mpg           0
class              0
combination_mpg    0
cylinders          2
displacement       2
drive              0
fuel_type          0
highway_mpg        0
make               0
model              0
transmission       0
year               0
dtype: int64

In [ ]:
print(D.columns)

Index(['city_mpg', 'class', 'combination_mpg', 'cylinders', 'displacement',
       'drive', 'fuel_type', 'highway_mpg', 'make', 'model', 'transmission',
       'year'],
      dtype='object')

In [ ]:
D["cylinders"] = D["cylinders"].fillna(D["cylinders"].mean())

In [ ]:
D["displacement"] = D["displacement"].fillna(D["displacement"].mean())

In [ ]:
print(D.dtypes)

city_mpg             int64
class               object
combination_mpg      int64
cylinders          float64
displacement       float64
drive               object
fuel_type           object
highway_mpg          int64
make                object
model               object
transmission        object
year                 int64
dtype: object

In [ ]:
D["class"] = P.to_numeric(D["class"] , errors = "coerce")
D["drive"] = P.to_numeric(D["drive"] , errors = "coerce")
D["fuel_type"] = P.to_numeric(D["fuel_type"] , errors = "coerce")
D["model"] = P.to_numeric(D["model"] , errors = "coerce")
D["transmission"] = P.to_numeric(D["transmission"] , errors = "coerce")

In [ ]:
Drop_Duplicate = D.drop_duplicates ()
print(Drop_Duplicate)

     city_mpg  class  combination_mpg  cylinders  displacement  drive  \
0          25    NaN               29        4.0           2.5    NaN
1          26    NaN               30        4.0           2.5    NaN
2          25    NaN               27        4.0           2.5    NaN
3          26    NaN               29        4.0           2.0    NaN
4          26    NaN               28        4.0           2.0    NaN
..        ...    ...              ...        ...           ...    ...
530        17    NaN               19        8.0           4.4    NaN
532        15    NaN               17        8.0           4.4    NaN
538        28    NaN               31        4.0           2.0    NaN
542        26    NaN               29        4.0           2.0    NaN
543        22    NaN               26        4.0           2.0    NaN

     fuel_type  highway_mpg   make  model  transmission  year
0          NaN           36  mazda    6.0           NaN  2014
1          NaN           37  mazda    6.0           NaN  2014
2          NaN           31  mazda    NaN           NaN  2014
3          NaN           34  mazda    NaN           NaN  2014
4          NaN           32  mazda    NaN           NaN  2014
..         ...          ...    ...    ...           ...   ...
530        NaN           24    bmw    NaN           NaN  2024
532        NaN           22    bmw    NaN           NaN  2024
538        NaN           38   mini    NaN           NaN  2024
542        NaN           35   mini    NaN           NaN  2024
543        NaN           32   mini    NaN           NaN  2024

[420 rows x 12 columns]

In [ ]:
Number = D.select_dtypes(include = "number")

In [ ]:
Check_Negetive = (Number < 0).any ()

In [ ]:
print(Check_Negetive)

city_mpg           False
class              False
combination_mpg    False
cylinders          False
displacement       False
drive              False
fuel_type          False
highway_mpg        False
model              False
transmission       False
year               False
dtype: bool

In [ ]:
print(D.columns)

Index(['city_mpg', 'class', 'combination_mpg', 'cylinders', 'displacement',
       'drive', 'fuel_type', 'highway_mpg', 'make', 'model', 'transmission',
       'year'],
      dtype='object')

In [ ]:
N = D.select_dtypes(include='number')

In [ ]:
Q1 = N.quantile(0.25)
Q2 = N.quantile(0.75)
IQR = Q2 - Q1

In [ ]:
print(Q1)
print("\n")
print(Q2)
print("\n")
print(IQR)

city_mpg             17.0
class                 NaN
combination_mpg      20.0
cylinders             4.0
displacement          2.0
drive                 NaN
fuel_type             NaN
highway_mpg          24.0
model                 6.0
transmission          NaN
year               2016.0
Name: 0.25, dtype: float64


city_mpg             24.0
class                 NaN
combination_mpg      27.0
cylinders             6.0
displacement          3.5
drive                 NaN
fuel_type             NaN
highway_mpg          32.0
model                 6.0
transmission          NaN
year               2022.0
Name: 0.75, dtype: float64


city_mpg           7.0
class              NaN
combination_mpg    7.0
cylinders          2.0
displacement       1.5
drive              NaN
fuel_type          NaN
highway_mpg        8.0
model              0.0
transmission       NaN
year               6.0
dtype: float64

In [ ]:
Outlier = (N < (Q1 - 1.5 * IQR)) | (N > (Q2 + 1.5 * IQR))
print(Outlier)
print(Outlier.sum())

     city_mpg  class  combination_mpg  cylinders  displacement  drive  \
0       False  False            False      False         False  False
1       False  False            False      False         False  False
2       False  False            False      False         False  False
3       False  False            False      False         False  False
4       False  False            False      False         False  False
..        ...    ...              ...        ...           ...    ...
545     False  False            False      False         False  False
546     False  False            False      False         False  False
547     False  False            False      False         False  False
548     False  False            False      False         False  False
549     False  False            False      False         False  False

     fuel_type  highway_mpg  model  transmission   year
0        False        False  False         False  False
1        False        False  False         False  False
2        False        False  False         False  False
3        False        False  False         False  False
4        False        False  False         False  False
..         ...          ...    ...           ...    ...
545      False        False  False         False  False
546      False        False  False         False  False
547      False        False  False         False  False
548      False        False  False         False  False
549      False        False  False         False  False

[550 rows x 11 columns]
city_mpg           11
class               0
combination_mpg    10
cylinders          10
displacement       21
drive               0
fuel_type           0
highway_mpg         5
model               0
transmission        0
year                0
dtype: int64

In [ ]:
L = Q1 - 1.5 * IQR
U = Q2 + 1.5 * IQR
D = N.clip(lower = L, upper = U, axis=1)

In [ ]:
print(D.columns)

Index(['city_mpg', 'class', 'combination_mpg', 'cylinders', 'displacement',
       'drive', 'fuel_type', 'highway_mpg', 'model', 'transmission', 'year'],
      dtype='object')

In [ ]:
Columns_Drop = D["model"]
D.drop(columns = ["model"] , inplace = True)

In [ ]:
Columns_Drop = D["drive"]
D.drop(columns = ["drive"] , inplace = True)

In [ ]:
Columns_Drop = D["transmission"]
D.drop(columns = ["transmission"] , inplace = True)

In [ ]:
Columns_Drop = D["fuel_type"]
D.drop(columns = ["fuel_type"] , inplace = True)

In [ ]:
Columns_Drop = D["class"]
D.drop(columns = ["class"] , inplace = True)

In [ ]:
Category = D.select_dtypes(include = "object").columns

print(Category)

Index([], dtype='object')

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
L = LabelEncoder ()
D[Category] = D[Category].apply(L.fit_transform)

In [ ]:
C = D.select_dtypes(include='number').columns
print(C)

Index(['city_mpg', 'combination_mpg', 'cylinders', 'displacement',
       'highway_mpg', 'year'],
      dtype='object')

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [ ]:
D.isnull().sum()


D = D.fillna(0)

In [ ]:
D_scaled = D.copy()
D_scaled[C] = scaler.fit_transform(D_scaled[C])

In [ ]:
print(D_scaled)

print(D.columns)

     city_mpg  combination_mpg  cylinders  displacement  highway_mpg      year
0    0.844195         1.067212  -0.771960     -0.345106     1.449388 -1.581139
1    1.054431         1.268710  -0.771960     -0.345106     1.639551 -1.581139
2    0.844195         0.664214  -0.771960     -0.345106     0.498573 -1.581139
3    1.054431         1.067212  -0.771960     -0.760053     1.069062 -1.581139
4    1.054431         0.865713  -0.771960     -0.760053     0.688736 -1.581139
..        ...              ...        ...           ...          ...       ...
545  0.423722         0.664214  -0.771960     -0.760053     0.878899  1.581139
546  0.003249         0.059717   0.431439      0.069842     0.118247  1.581139
547  0.003249         0.059717   0.431439      0.069842     0.118247  1.581139
548 -0.837697        -0.947778   1.634837      1.231695    -0.832569  1.581139
549 -0.837697        -0.947778   1.634837      1.231695    -0.832569  1.581139

[550 rows x 6 columns]
Index(['city_mpg', 'combination_mpg', 'cylinders', 'displacement',
       'highway_mpg', 'year'],
      dtype='object')

In [ ]:
X = D.drop(columns = ["combination_mpg"])
Y = D["combination_mpg"]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_Train , X_Test , Y_Train , Y_Test = train_test_split(X , Y , test_size = 0.2 , random_state = 42)

In [ ]:
C_Final_Null = D.isnull().sum()
print(C_Final_Null)

city_mpg           0
combination_mpg    0
cylinders          0
displacement       0
highway_mpg        0
year               0
dtype: int64

In [ ]:
C_Final_Text = D.select_dtypes(include = "object").columns

print(C_Final_Text)

Index([], dtype='object')

In [ ]:
Save_File = D.to_csv("Cleaned Car Data.csv" , index = False)