In [1]:
import pandas as P

In [2]:
D = P.read_csv("Car Data.csv")

In [3]:
print(D.columns)

Index(['city_mpg', 'class', 'combination_mpg', 'cylinders', 'displacement',
       'drive', 'fuel_type', 'highway_mpg', 'make', 'model', 'transmission',
       'year'],
      dtype='object')

In [5]:
E = D.isnull().sum()
print(E)

city_mpg           0
class              0
combination_mpg    0
cylinders          2
displacement       2
drive              0
fuel_type          0
highway_mpg        0
make               0
model              0
transmission       0
year               0
dtype: int64

In [7]:
Fill_Cylinders = D["cylinders"].fillna(D["cylinders"].mean())
print(Fill_Cylinders)

0      4.0
1      4.0
2      4.0
3      4.0
4      4.0
      ...
545    4.0
546    6.0
547    6.0
548    8.0
549    8.0
Name: cylinders, Length: 550, dtype: float64

In [11]:
Fill_Displacement = D["displacement"].fillna(D["displacement"].mean())

In [12]:
print(D.columns)

Index(['city_mpg', 'class', 'combination_mpg', 'cylinders', 'displacement',
       'drive', 'fuel_type', 'highway_mpg', 'make', 'model', 'transmission',
       'year'],
      dtype='object')

In [15]:
X = D.drop("combination_mpg" , axis = 1)

In [16]:
Y = D["combination_mpg"]

In [21]:
Category = X.select_dtypes(include = "object").columns

In [22]:
X = P.get_dummies (X , columns = Category)

In [23]:
from sklearn.model_selection import train_test_split

In [25]:
X_Train , X_Test , Y_Train , Y_Test = train_test_split(X , Y , test_size = 0.2 , random_state = 42)

In [26]:
print(X_Train , X_Test , Y_Train , Y_Test)

     city_mpg  cylinders  displacement  highway_mpg  year  class_compact car  \
482        27        3.0           1.5           37  2023              False
158        18        6.0           3.3           25  2017              False
15         16        8.0           5.0           25  2014              False
334        21        4.0           2.0           27  2020              False
39         21        4.0           2.0           28  2014              False
..        ...        ...           ...          ...   ...                ...
71         19        6.0           3.0           28  2015               True
106        18        6.0           3.3           25  2016              False
270        21        4.0           2.4           29  2019              False
435        23        4.0           2.0           33  2022              False
102        25        4.0           2.5           36  2016              False

     class_large car  class_midsize car  class_midsize station wagon  \
482            False              False                        False
158            False              False                        False
15             False              False                        False
334            False              False                        False
39             False              False                        False
..               ...                ...                          ...
71             False              False                        False
106            False              False                        False
270            False              False                        False
435            False              False                        False
102            False               True                        False

     class_minicompact car  ...  model_xjl  model_xt5  model_xt5 awd  \
482                   True  ...      False      False          False
158                  False  ...      False      False          False
15                   False  ...      False      False          False
334                  False  ...      False      False          False
39                   False  ...      False      False          False
..                     ...  ...        ...        ...            ...
71                   False  ...      False      False          False
106                  False  ...      False      False          False
270                  False  ...      False      False          False
435                  False  ...      False      False          False
102                  False  ...      False      False          False

     model_yukon c1500 2wd  model_yukon c1500 xl 2wd  model_yukon k1500 4wd  \
482                  False                     False                  False
158                  False                     False                  False
15                   False                     False                  False
334                  False                     False                  False
39                   False                     False                  False
..                     ...                       ...                    ...
71                   False                     False                  False
106                  False                     False                  False
270                  False                     False                  False
435                  False                     False                  False
102                  False                     False                  False

     model_yukon k1500 xl 4wd  model_z4 sdrive28i  transmission_a  \
482                     False               False           False
158                     False               False            True
15                      False               False           False
334                     False               False            True
39                      False               False            True
..                        ...                 ...             ...
71                      False               False            True
106                     False               False            True
270                     False               False            True
435                     False               False           False
102                     False               False           False

     transmission_m
482            True
158           False
15             True
334           False
39            False
..              ...
71            False
106           False
270           False
435            True
102            True

[440 rows x 334 columns]      city_mpg  cylinders  displacement  highway_mpg  year  class_compact car  \
195        16        6.0           3.0           24  2017              False
79         20        4.0           2.4           27  2015              False
480        18        6.0           3.5           23  2023              False
109        19        4.0           2.0           25  2016              False
522        16        6.0           3.0           23  2024              False
..        ...        ...           ...          ...   ...                ...
543        22        4.0           2.0           32  2024              False
140        16        6.0           3.8           22  2016              False
371        17        6.0           3.3           26  2021               True
18         20        4.0           2.4           26  2014              False
323        24        4.0           2.0           34  2020               True

     class_large car  class_midsize car  class_midsize station wagon  \
195            False              False                        False
79             False              False                        False
480            False              False                        False
109            False              False                        False
522            False              False                        False
..               ...                ...                          ...
543            False              False                        False
140            False              False                        False
371            False              False                        False
18             False              False                        False
323            False              False                        False

     class_minicompact car  ...  model_xjl  model_xt5  model_xt5 awd  \
195                  False  ...      False      False          False
79                   False  ...      False      False          False
480                  False  ...      False      False          False
109                  False  ...      False      False          False
522                  False  ...      False      False          False
..                     ...  ...        ...        ...            ...
543                  False  ...      False      False          False
140                  False  ...      False      False          False
371                  False  ...      False      False          False
18                   False  ...      False      False          False
323                  False  ...      False      False          False

     model_yukon c1500 2wd  model_yukon c1500 xl 2wd  model_yukon k1500 4wd  \
195                  False                     False                  False
79                   False                     False                  False
480                  False                     False                  False
109                  False                     False                  False
522                  False                     False                  False
..                     ...                       ...                    ...
543                  False                     False                  False
140                  False                     False                  False
371                  False                     False                  False
18                   False                     False                  False
323                  False                     False                  False

     model_yukon k1500 xl 4wd  model_z4 sdrive28i  transmission_a  \
195                     False               False           False
79                      False               False            True
480                     False               False            True
109                     False               False            True
522                     False               False           False
..                        ...                 ...             ...
543                     False               False           False
140                     False               False            True
371                     False               False            True
18                      False               False            True
323                     False               False            True

     transmission_m
195            True
79            False
480           False
109           False
522            True
..              ...
543            True
140           False
371           False
18            False
323           False

[110 rows x 334 columns] 482    31
158    21
15     19
334    23
39     24
       ..
71     22
106    20
270    24
435    27
102    29
Name: combination_mpg, Length: 440, dtype: int64 195    19
79     23
480    20
109    21
522    19
       ..
543    26
140    19
371    20
18     22
323    28
Name: combination_mpg, Length: 110, dtype: int64