In [1]:
import pandas as P

In [2]:
D = P.read_csv("Car Data.csv")

In [3]:
print(D.columns)

Index(['city_mpg', 'class', 'combination_mpg', 'cylinders', 'displacement',
       'drive', 'fuel_type', 'highway_mpg', 'make', 'model', 'transmission',
       'year'],
      dtype='object')

In [4]:
print(D.head)

<bound method NDFrame.head of      city_mpg                        class  combination_mpg  cylinders  \
0          25                  midsize car               29        4.0
1          26                  midsize car               30        4.0
2          25  small sport utility vehicle               27        4.0
3          26  small sport utility vehicle               29        4.0
4          26  small sport utility vehicle               28        4.0
..        ...                          ...              ...        ...
545        23                  compact car               27        4.0
546        21                  midsize car               24        6.0
547        21                  midsize car               24        6.0
548        17                  midsize car               19        8.0
549        17                  midsize car               19        8.0

     displacement drive fuel_type  highway_mpg   make  \
0             2.5   fwd       gas           36  mazda
1             2.5   fwd       gas           37  mazda
2             2.5   fwd       gas           31  mazda
3             2.0   fwd       gas           34  mazda
4             2.0   fwd       gas           32  mazda
..            ...   ...       ...          ...    ...
545           2.0   awd       gas           33    bmw
546           3.0   rwd       gas           29    bmw
547           3.0   awd       gas           29    bmw
548           4.4   awd       gas           24    bmw
549           4.4   awd       gas           24    bmw

                       model transmission  year
0                          6            m  2014
1                          6            a  2014
2                   cx-5 2wd            a  2014
3                   cx-5 2wd            m  2014
4                   cx-5 2wd            a  2014
..                       ...          ...   ...
545   430i xdrive gran coupe            a  2024
546          840i gran coupe            a  2024
547   840i xdrive gran coupe            a  2024
548  m850i xdrive gran coupe            a  2024
549     alpina b8 gran coupe            a  2024

[550 rows x 12 columns]>

In [5]:
print(D.shape)

(550, 12)

In [6]:
print(D.info)

<bound method DataFrame.info of      city_mpg                        class  combination_mpg  cylinders  \
0          25                  midsize car               29        4.0
1          26                  midsize car               30        4.0
2          25  small sport utility vehicle               27        4.0
3          26  small sport utility vehicle               29        4.0
4          26  small sport utility vehicle               28        4.0
..        ...                          ...              ...        ...
545        23                  compact car               27        4.0
546        21                  midsize car               24        6.0
547        21                  midsize car               24        6.0
548        17                  midsize car               19        8.0
549        17                  midsize car               19        8.0

     displacement drive fuel_type  highway_mpg   make  \
0             2.5   fwd       gas           36  mazda
1             2.5   fwd       gas           37  mazda
2             2.5   fwd       gas           31  mazda
3             2.0   fwd       gas           34  mazda
4             2.0   fwd       gas           32  mazda
..            ...   ...       ...          ...    ...
545           2.0   awd       gas           33    bmw
546           3.0   rwd       gas           29    bmw
547           3.0   awd       gas           29    bmw
548           4.4   awd       gas           24    bmw
549           4.4   awd       gas           24    bmw

                       model transmission  year
0                          6            m  2014
1                          6            a  2014
2                   cx-5 2wd            a  2014
3                   cx-5 2wd            m  2014
4                   cx-5 2wd            a  2014
..                       ...          ...   ...
545   430i xdrive gran coupe            a  2024
546          840i gran coupe            a  2024
547   840i xdrive gran coupe            a  2024
548  m850i xdrive gran coupe            a  2024
549     alpina b8 gran coupe            a  2024

[550 rows x 12 columns]>

In [7]:
Target = D["combination_mpg"]

In [8]:
print(Target.head)

<bound method NDFrame.head of 0      29
1      30
2      27
3      29
4      28
       ..
545    27
546    24
547    24
548    19
549    19
Name: combination_mpg, Length: 550, dtype: int64>

In [10]:
Null_Data = D.isnull().sum ()

In [11]:
print(Null_Data)

city_mpg           0
class              0
combination_mpg    0
cylinders          2
displacement       2
drive              0
fuel_type          0
highway_mpg        0
make               0
model              0
transmission       0
year               0
dtype: int64